{#
 # File: common.jinja
 # Project: AshBot World
 # File Created: Sunday, 26th January 2025 5:29:57 PM
 # Author: nknab
 # Email: kojo.anyinam-boateng@alumni.ashesi.edu.gh
 # Version: 1.0
 # Brief: Common template for all files
 # -----
 # Last Modified: Sunday, 27th January 2025 2:28:30 PM
 # Modified By: nknab
 # -----
 # Copyright ©2025 nknab
 #}

<physics name="1ms" type="ignored">
	<max_step_size>0.001</max_step_size>
	<real_time_factor>1.0</real_time_factor>
</physics>

<plugin filename="gz-sim-physics-system" name="gz::sim::systems::Physics"/>

<plugin filename="gz-sim-user-commands-system" name="gz::sim::systems::UserCommands"/>

<plugin filename="gz-sim-scene-broadcaster-system" name="gz::sim::systems::SceneBroadcaster"/>

<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
	<render_engine>ogre2</render_engine>
</plugin>

<plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact"/>

<plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>

<gravity>0 0 -9.81</gravity>

<magnetic_field>5.5645e-06 2.28758e-05 -4.23884e-05</magnetic_field>

<include>
	<uri>model://models/sun</uri>
</include>

<include>
	<uri>model://models/ground_plane</uri>
</include>
